<h3>Merci de nous avoir contacté !</h3>

<p>Voici l'historique de votre conversation avec notre support clientèle. Pensez à le conserver.</p>

<hr> 

{% for message in datas.messages %}
    >>>
    {% if message.sender.email == email %}
    <span>Vous [{{ message.sentAt | date('Y-m-d H:i:s') }}] : </span>
    {% else %}
    <span>Support [{{ message.sentAt | date('Y-m-d H:i:s') }}] : </span>
    {% endif %}
    {% if message.attachments | length > 0 %}
        {% for attachment in message.attachments  %}
            <p><a href={{ attachment.url }}>{{ attachment.name }}</a> (Fichier)</p>
        {% endfor %}
    {% else %}
        <p>{{ message.text }}</p>
    {% endif %}
{% endfor %}